
// Fonts
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body{
	font-family: Ubuntu;
}

textarea{
	resize: vertical;
}

.row-margin-bottom{
	margin-bottom: 20px;
}

.margin-left-15{
	margin-left: 15px;
}
.margin-bottom-15{
	margin-bottom: 15px;
}
.margin-bottom-30{
	margin-bottom: 30px;
}

.relative{
	position: relative;
}

.cursor-pointer{
  cursor: pointer;
}

.fixed-toolbar{
	position: fixed;
	margin-top: 100px;
	top:0;
}

.trash-btn{
	color:$brand-danger;    
	font-size: 1.4em;
  margin-top: -5px;
  display: inline-block;
  cursor:pointer;
}
.order-wrap{
	position:absolute;
	left: -50px;
	height: 70px;
	width: 50px;
	top: calc(50% - 35px);
	text-align: center;

	.order-up,.order-down{
		font-weight:600;
		color:$brand-primary;
	}
	&.disabled{
		opacity:0.3;
	}
}